/* body {
    margin-left: 200px;
    background-color: rgb(230, 225, 225);
} */
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
    background-color: #f5f5f5; 
}
.header{
    background-color: white;
    height: 120px;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
    border-bottom: 5px solid #22a7ee;
}

.header__nav{
    max-width: 1040px;
    margin: auto;
    position: relative;
}
.header_nav_a{
    position: relative;
}
.header__nav__logo a img{
    width: 300px;
    margin: 8px 0px 3px 20px;
}
.header__nav__logo_tagline{
    position: absolute;
    bottom: -2px;
    right: 0px;
    color: #999;
    font-size: 12px;
    width: 120px;
}
.header_nav_dropdown_head{
    list-style: none;
    display: flex;
    margin-right: 10px;
}
.header_nav_dropdown_head li a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    padding: 0.75em 0.9em;
    display: block;
}
.header_nav_dropdown_head li a:hover{
    color: #666;
    background-color: #f8f8f8;
    position: relative;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.dropdown_subelements{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    left: auto;
    padding: 0;
}
.dropdown_subelements li{
    text-align: left;
    list-style: none;
    width: 250px;
    color: #333;
    font-weight: 400;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
}
.dropdown_subelements li:hover{
    border-left: 3px solid #22a7ee;
    background-color: #f8f8f8;
}
.header_nav_dropdown_head li:hover .dropdown_subelements{
    display: block;
    background-color: #fff;
    z-index: 100;
}

.header_nav_dropdown_head li a:hover{
    border-top: 3px solid #22a7ee;
}
#no_effect a:hover{
    color: #666;
    background-color: #f8f8f8;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* .header__social__facebook{
    background-image: url(https://sparkpeo.hs.llnwd.net/e1/assets/resource/facebook_color.svg);
    width: 32px;
} */
.header__social{
    position: absolute;
    right: 0;
    /* top: -2px; */
    top: 85px;
    display: flex;
    overflow: hidden;
}
.header__social img{
    display: block;
    padding: 0px 8px;
}

.header__social__search{
    display: block;
    position: relative;
    /* z-index: 1; */
}
.header__social__search_input {
    /* background-color: #22a7ee; */
    border: 0;
    font-size: 18px;
    /* padding: 15px; */
    height: 22px;
    width: 18px;
    transition: width 0.3s ease;
    /* position: relative; */
    /* z-index: 900; */
}
.header__social__search_btn {
    /* background-color: #22a7ee; */
    color: #22a7ee;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    height: 22px;
    width: 40px;
    transition: transform 0.3s ease;
}
.header__social__search_btn:hover{
    background-color: #22a7ee;
    color: #fff;
}
.header__social__search_btn:focus,
.header__social__search_input:focus {
  outline: none;
}
.header__social__search.active .header__social__search_input {
    /* position: relative; */
    width: 80px;
    /* z-index: 900; */
}

.header__social__search.active .header__social__search_btn {
    transform: translateX(0px);
}

.header__social__search.active #social_active{
    display: none !important;
    /* z-index: -2; */
}

.nav_btns{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #6384BD;
}
.nav_btns_help{
    list-style: none;
    display: flex;
}
.nav_btns_help li{
    padding: 2px 6px 2px 6px;
    color: #6384BD;
    font-size: 13px;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}
.nav_btns_submenu {
    display: none;
    list-style: none;
}
.nav_btns_hover{
    position: relative;
}
.nav_btns_hover:hover .nav_btns_submenu{
    color: #3B5EE5;
    padding: 10px;
    background-color: #f5f5fe;
    font-size: 13px;
    display: block;
    position: absolute;
    width: 150px;
    box-shadow: 2px 1px 6px #444;
}
.nav_btns_submenu li{
    border-right: none;
}
.fitness_body {
    margin-left: 200px;
    /* background-color: rgb(230, 225, 225); */
}
.othergoals_date{
    padding: 15px;
}
.othergoals_date button{
    font-family: helvetica, Arial, Helvetica, sans-serif;
}
.date_leftArrow, .date_rightArrow, .calender_symbol{
    line-height: 900;
    width: 17px;
    height: 32px;
    padding: 0;
    background-size: 108%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_arrow_lt.svg);
    background-color: transparent;
    font-size: 16px;
    display: inline-block;
    border: none;
    vertical-align: middle;
}
.date_rightArrow{
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_arrow_rt.svg);
    background-size: 100%;
}
.date_show{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 0 1em;
    max-width: 22em;
    border: none;
    background-color: transparent;
    vertical-align: middle;
}
.calender_symbol{
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_cal_icon.svg);
    width: 32px;
    background-size: 100%;
    margin-right: 0.8em;
}
h1 {
    margin-top: 100px;
}
.calender_fitness {
    height: 60px;
    width: 400px;
    /* background-color: rgb(189, 189, 189); */
    margin-top: 20px;
}
.othergoals_date{
    padding: 15px;
}
.othergoals_date button{
    font-family: helvetica, Arial, Helvetica, sans-serif;
}
.date_leftArrow, .date_rightArrow, .calender_symbol{
    line-height: 90;
    width: 17px;
    height: 32px;
    padding: 0;
    background-size: 108%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_arrow_lt.svg);
    background-color: transparent;
    font-size: 16px;
    display: inline-block;
    border: none;
    vertical-align: middle;
}
.date_rightArrow{
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_arrow_rt.svg);
    background-size: 100%;
}
.date_show{
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 0 1em;
    max-width: 22em;
    border: none;
    background-color: transparent;
    vertical-align: middle;
}
.date_show:hover {
    color:rgb(58, 58, 250);
}
.calender_symbol{
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_cal_icon.svg);
    width: 32px;
    background-size: 100%;
    margin-right: 0.8em;
}
.step_tracker {
    height: 30px;
    width: 150px;
    background-color: teal;
    border: 1px solid teal;
    border-radius: 2px;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.search_div {
    height: 120px;
    width: 650px;
    background-color: rgb(233, 227, 227);
    border: 1px solid rgb(182, 182, 182);
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 20px;
}
.search_options {
    height: 50px;
    display: flex;
    flex-direction: row;
    
}
.search_bar {
    height: 70px;
    background-color: white;
}
.search {
    height: 40px;
    width: 120px;
    margin-top: 10px;
    border: 1px solid rgb(173, 172, 172);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 0px;
    background-color: white;
    text-align: center;
    margin-left: 10px;
}
.search > p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px
}
.favorites {
    height: 30px;
    width: 120px;
    background-color: rgb(37, 117, 236);
    text-align: center;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
}
.favorites > p {
    /* padding-bottom: 20px; */
    margin-top: 8px;
    font-weight: bold;
    color: white;
    font-size: 16px;
}
.groupings {
    height: 30px;
    width: 120px;
    background-color: rgb(37, 117, 236);
    text-align: center;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
}
.groupings > p {
    margin-top: 8px;
    font-weight: bold;
    color: white;
    font-size: 16px;
}
.mileage {
    height: 30px;
    width: 120px;
    background-color: rgb(37, 117, 236);
    text-align: center;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
}
.mileage > p {
    margin-top: 8px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.search_text {
    height: 25px;
    width: 400px;
    border: 0.5px solid rgb(119, 119, 252);
    box-shadow: -5px -5px 23px rgb(179, 176, 176);
    margin-top: 13px;
    margin-left: 20px;
}
.search_inner > button {
    height: 30px;
    width: 100px;
    background-color: rgb(37, 117, 236);
    border: 1px solid rgb(37, 117, 236);
    border-radius: 3px;
    margin-left: 20px;
}
.search_bar > p {
    color:rgb(37, 117, 236);
    float: right;
    margin-right: 90px;
    padding-bottom:0px;
    font-size: 12px;
}
.search_bar > p:hover{
    text-decoration: underline;
}
.exercises {
    height: 250px;
    width: 950px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 0px 5px 5px 5px;
}
.exercises_1 {
    height: 60px;
    border-bottom: 1px solid rgb(182, 182, 182);
}
.my_exercises {
    height: 35px;
    /* border-bottom: 1px solid rgb(177, 175, 175); */
    /* border: 1px solid red; */
}
.my_exercises > p {
    margin-top: 3px;
    font-size: 25px;
    font-weight: bold;
}
.exercises_mins {
    height: 23px;
    /* border: 1px solid green; */
    background-color: rgb(131, 130, 130);
    display: flex;
    flex-direction: row;
    float: right;
}
.minutes {
    width: 150px;
    height: 23px;
    background-color: rgb(107, 107, 107);
    text-align: center;
}
.minutes > p {
    color: white;
    font-size: 12px;
    margin-top: 3px;
}
.calories {
    width: 150px;
    text-align: center;
}
.calories > p {
    color: white;
    font-size: 12px;
    margin-top: 3px;
}
.exercises_2 {
    height: 80px;
    border-bottom: 1px solid rgb(182, 182, 182);
    background-color: white;
}
.workout_ideas {
    margin-top: 0px;
    font-size: 18px;
    margin-left: 10px;
}
.redirections_text {
    margin-left: 20px;
    font-size: 12px;
}
.redirections {
    color: rgb(58, 58, 250);
    text-decoration: underline;
}
.redirections:hover {
    color:rgb(37, 117, 236)
}
.daily_totals {
    height: 28px;
    background-color: white;
    margin-top: 25px;
}
.weekly_totals {
    height: 30px;
    background-color: rgb(247, 224, 204);
}
.add_items {
    height: 21px;
    background-color: white;
    border-radius: 0px 5px 5px 5px;
}
.daily_flex {
    width: 400px;
    height: 28px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    float: right;
    /* border: 1px solid red; */
}
.dt_1 {
    margin-top: 3px;
    font-weight: bold;
    margin-left: 0px;
}
.zero_1 {
    margin-top: 3px;
    font-weight: bold;
    margin-left: 90px;

}
.zero_2 {
    margin-top: 3px;
    font-weight: bold;
    margin-left: 140px;
}
.daily_flex_1 {
    width: 450px;
    height: 28px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    float: right;
    /* border: 1px solid red; */
    margin-left: 200px;
}
.dt_1_2 {
    margin-top: 3px;
    font-weight: bold;
    margin-left: 36px;
}
.zero_1_1 {
    margin-top: 3px;
    font-weight: bold;
    margin-left: 80px;

}
.zero_2_2 {
    margin-top: 3px;
    font-weight: bold;
    margin-left: 110px;
}
.fitness_body > h1 {
    margin-top: 30px;
}
.myweight_footer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.myweight_footer_reports,
.myweight_footer_tools,
.myweight_footer_devices{
    background-color: #fff;
    border: 1px solid #d7d7f9;
    box-shadow: 0px 0px 5px #efefef;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 290px;
    margin-right: 25px;
}
.reports_header,
.tools_header,
.devices_header{
    display: flex;
    padding: 5px;
    /* margin: 5px; */
}
.reports_header h1,
.tools_header h1,
.devices_header h1{
    margin: 0;
    padding: 5px 10px;
    font-size: 22px;
}
.reports1,
.tools1,
.devices1{
    background: linear-gradient(to bottom,  #ffffff 0%,#f4fbff 49%,#edf8ff 52%,#e8f6ff 100%);
    padding: 8px 12px;
    border-bottom: 1px solid #ffffff;
    font-size: 15px;
    color: #007fc4;
}