body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
    background-color: #f5f5f5; 
}
.header{
    background-color: white;
    height: 120px;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
    border-bottom: 5px solid #22a7ee;
}

.header__nav{
    max-width: 1040px;
    margin: auto;
    position: relative;
}
.header_nav_a{
    position: relative;
}
.header__nav__logo a img{
    width: 300px;
    margin: 8px 0px 3px 20px;
}
.header__nav__logo_tagline{
    position: absolute;
    bottom: -2px;
    right: 0px;
    color: #999;
    font-size: 12px;
    width: 120px;
}
.header_nav_dropdown_head{
    list-style: none;
    display: flex;
    margin-right: 10px;
}
.header_nav_dropdown_head li a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    padding: 0.75em 0.9em;
    display: block;
}
.header_nav_dropdown_head li a:hover{
    color: #666;
    background-color: #f8f8f8;
    position: relative;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.dropdown_subelements{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    left: auto;
    padding: 0;
}
.dropdown_subelements li{
    text-align: left;
    list-style: none;
    width: 250px;
    color: #333;
    font-weight: 400;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
}
.dropdown_subelements li:hover{
    border-left: 3px solid #22a7ee;
    background-color: #f8f8f8;
}
.header_nav_dropdown_head li:hover .dropdown_subelements{
    display: block;
    background-color: #fff;
    z-index: 100;
}

.header_nav_dropdown_head li a:hover{
    border-top: 3px solid #22a7ee;
}
#no_effect a:hover{
    color: #666;
    background-color: #f8f8f8;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* .header__social__facebook{
    background-image: url(https://sparkpeo.hs.llnwd.net/e1/assets/resource/facebook_color.svg);
    width: 32px;
} */
.header__social{
    position: absolute;
    right: 0;
    /* top: -2px; */
    top: 85px;
    display: flex;
    overflow: hidden;
}
.header__social img{
    display: block;
    padding: 0px 8px;
}

.header__social__search{
    display: block;
    position: relative;
    /* z-index: 1; */
}
.header__social__search_input {
    /* background-color: #22a7ee; */
    border: 0;
    font-size: 18px;
    /* padding: 15px; */
    height: 22px;
    width: 18px;
    transition: width 0.3s ease;
    /* position: relative; */
    /* z-index: 900; */
}
.header__social__search_btn {
    /* background-color: #22a7ee; */
    color: #22a7ee;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    height: 22px;
    width: 40px;
    transition: transform 0.3s ease;
}
.header__social__search_btn:hover{
    background-color: #22a7ee;
    color: #fff;
}
.header__social__search_btn:focus,
.header__social__search_input:focus {
  outline: none;
}
.header__social__search.active .header__social__search_input {
    /* position: relative; */
    width: 80px;
    /* z-index: 900; */
}

.header__social__search.active .header__social__search_btn {
    transform: translateX(0px);
}

.header__social__search.active #social_active{
    display: none !important;
    /* z-index: -2; */
}

.nav_btns{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #6384BD;
}
.nav_btns_help{
    list-style: none;
    display: flex;
}
.nav_btns_help li{
    padding: 2px 6px 2px 6px;
    color: #6384BD;
    font-size: 13px;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}
.nav_btns_submenu {
    display: none;
    list-style: none;
}
.nav_btns_hover{
    position: relative;
}
.nav_btns_hover:hover .nav_btns_submenu{
    color: #3B5EE5;
    padding: 10px;
    background-color: #f5f5fe;
    font-size: 13px;
    display: block;
    position: absolute;
    width: 150px;
    box-shadow: 2px 1px 6px #444;
}
.nav_btns_submenu li{
    border-right: none;
}
.othergoals_date{
    padding: 15px;
}
.othergoals_date button{
    font-family: helvetica, Arial, Helvetica, sans-serif;
}
.date_leftArrow, .date_rightArrow, .calender_symbol{
    line-height: 900;
    width: 17px;
    height: 32px;
    padding: 0;
    background-size: 108%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_arrow_lt.svg);
    background-color: transparent;
    font-size: 16px;
    display: inline-block;
    border: none;
    vertical-align: middle;
}
.date_rightArrow{
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_arrow_rt.svg);
    background-size: 100%;
}
.date_show{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 0 1em;
    max-width: 22em;
    border: none;
    background-color: transparent;
    vertical-align: middle;
}
.calender_symbol{
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_cal_icon.svg);
    width: 32px;
    background-size: 100%;
    margin-right: 0.8em;
}

/* ////////////////////////////////////////////////////main feed */

/* <!--////////////////////////////////////////////// Main Feed ////////////////////////////////////////////////////  --> */
.mainbox
{
  height: 2500px;
  width: 600px;
  border: 1px solid #cccccc;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
}
.postbox
{
    height:150px;
    width: 100%;
    background-color: white;
}
.postbox1
{
    height: 38%;
    width: 98%;
    margin-left: 5px;
    border-bottom: 1px solid #cccccc;
    background-color: white;
}
.box1>p{
    text-align: left;
    font-size: 18px;
    padding: 10px;
}
.box2
{
    height: 48%;
    width: 98%;
    margin-left: 5px;
    background-color: white;
}

.box2>p{
    text-align: left;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 10px;
    float: left;
    color:#cccccc ;
}
.box2>img:nth-child(1){
    height: 75%;
    width: 9%;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
}
.box2>img:nth-child(3){
    height: 35%;
    width: 9%;
    margin-top: 25px;
    margin-left: 85px;
    float: left;
}


.feedbox
{
    height: 800px;
    width: 100%;
    background-color: white;
    margin-top:10px;
    position: relative;
}
.feedbox>:nth-child(2)
{
    height: 5%;
    width: 5%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.feedbox>:nth-child(3)
{
    height: 5%;
    width: 5%;
    position: absolute;
    top: 68px;
    right: 15px;
}
.feedbox>:nth-child(4)
{
    height: 7%;
    width: 9%;
    position: absolute;
    top: 60px;
    left:  25px;
}
.feedbox>p{
    margin-left:   90px;
    color: #22a7ee;
}
.feedbox>p>h{
    margin-left: 10px;
    color: #cccccc;
    font-size: 15px;
}
.feedbox_postimg{
    padding-top: 0px;
    padding-left: 140px;
    height: 50%;
    width: 50%;
}
.commentbox
{
    height: 80px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.commentbox>:nth-child(1)
{
    height: 35%;
    width: 35%;
    top: 0;
    left: 30px;
    position: absolute;
}
.commentbox>:nth-child(2)
{
    position: absolute;
    top: 5px;
    left: 155px;
}
.commentbox>:nth-child(3)
{
    height: 35%;
    width: 35%;
    top: 0;
    left: 100px;
    position: absolute;
}
.commentbox>:nth-child(4)
{
    position: absolute;
    top: 5px;
    left: 225px;
}
.likebox
{
    height: 30px;
    width: 88px;
    background-color: #cccccc;
    margin-left:250px ;
    float: left;
}
.likebox>img{
    height: 70%;
    width: 50%;
    padding-top: 5px;
    float: left;
  
}
.likebox>h{
    float: left;
    margin-top: 6px;
    margin-left: 0;
}
.likebox2
{
    height: 30px;
    width: 120px;
    background-color: #cccccc;
    margin-left:350px ;
   position: relative;
}
.likebox2>img{
    height: 70%;
    width: 50%;
    top: 5px;
    left: 0px;
    position: absolute;
}
.likebox2>h{
    float: left;
    top: 6px;
    left: 43px;
    position: absolute;
}
.commentsec_box
{
    height: 80px;
    width: 100%;
    position: relative;
}
.commentsec_box>img{
    height: 60%;
    width: 8%;
    position: absolute;
    left: 80px;
    top: 10px;
}
.commentsec_box>p{
   
    position: absolute;
    left: 140px;
    top: 10px;
}


/* ----------------------------------- popup */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    height: 300px;
    width: 700px;
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #posttext
  {
      height: 70px;
      width: 300px;
      margin-top: 20px;
  }
  .commentinput
  {
      display:none;
  }

  .trending_box
  {
    height: 500px;
    width: 1000px;
    color: rgb(224, 8, 8);
    float: left;
    margin-left: 500px;
  }