body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
    background-color: #f5f5f5; 
}
.header{
    background-color: white;
    height: 120px;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
    border-bottom: 5px solid #22a7ee;
}

.header__nav{
    max-width: 1040px;
    margin: auto;
    position: relative;
}
.header_nav_a{
    position: relative;
}
.header__nav__logo a img{
    width: 300px;
    margin: 8px 0px 3px 20px;
}
.header__nav__logo_tagline{
    position: absolute;
    bottom: -2px;
    right: 0px;
    color: #999;
    font-size: 12px;
    width: 120px;
}
.header_nav_dropdown_head{
    list-style: none;
    display: flex;
    margin-right: 10px;
}
.header_nav_dropdown_head li a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    padding: 0.75em 0.9em;
    display: block;
}
.header_nav_dropdown_head li a:hover{
    color: #666;
    background-color: #f8f8f8;
    position: relative;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.dropdown_subelements{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    left: auto;
    padding: 0;
}
.dropdown_subelements li{
    text-align: left;
    list-style: none;
    width: 250px;
    color: #333;
    font-weight: 400;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
}
.dropdown_subelements li:hover{
    border-left: 3px solid #22a7ee;
    background-color: #f8f8f8;
}
.header_nav_dropdown_head li:hover .dropdown_subelements{
    display: block;
    background-color: #fff;
    z-index: 100;
}

.header_nav_dropdown_head li a:hover{
    border-top: 3px solid #22a7ee;
}
#no_effect a:hover{
    color: #666;
    background-color: #f8f8f8;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* .header__social__facebook{
    background-image: url(https://sparkpeo.hs.llnwd.net/e1/assets/resource/facebook_color.svg);
    width: 32px;
} */
.header__social{
    position: absolute;
    right: 0;
    /* top: -2px; */
    top: 85px;
    display: flex;
    overflow: hidden;
}
.header__social img{
    display: block;
    padding: 0px 8px;
}

.header__social__search{
    display: block;
    position: relative;
    /* z-index: 1; */
}
.header__social__search_input {
    /* background-color: #22a7ee; */
    border: 0;
    font-size: 18px;
    /* padding: 15px; */
    height: 22px;
    width: 18px;
    transition: width 0.3s ease;
    /* position: relative; */
    /* z-index: 900; */
}
.header__social__search_btn {
    /* background-color: #22a7ee; */
    color: #22a7ee;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    height: 22px;
    width: 40px;
    transition: transform 0.3s ease;
}
.header__social__search_btn:hover{
    background-color: #22a7ee;
    color: #fff;
}
.header__social__search_btn:focus,
.header__social__search_input:focus {
  outline: none;
}
.header__social__search.active .header__social__search_input {
    /* position: relative; */
    width: 80px;
    /* z-index: 900; */
}

.header__social__search.active .header__social__search_btn {
    transform: translateX(0px);
}

.header__social__search.active #social_active{
    display: none !important;
    /* z-index: -2; */
}

.nav_btns{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #6384BD;
}
.nav_btns_help{
    list-style: none;
    display: flex;
}
.nav_btns_help li{
    padding: 2px 6px 2px 6px;
    color: #6384BD;
    font-size: 13px;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}
.nav_btns_submenu {
    display: none;
    list-style: none;
}
.nav_btns_hover{
    position: relative;
}
.nav_btns_hover:hover .nav_btns_submenu{
    color: #3B5EE5;
    padding: 10px;
    background-color: #f5f5fe;
    font-size: 13px;
    display: block;
    position: absolute;
    width: 150px;
    box-shadow: 2px 1px 6px #444;
}
.nav_btns_submenu li{
    border-right: none;
}
.othergoals_date{
    padding: 15px;
}
.othergoals_date button{
    font-family: helvetica, Arial, Helvetica, sans-serif;
}
.date_leftArrow, .date_rightArrow, .calender_symbol{
    line-height: 900;
    width: 17px;
    height: 32px;
    padding: 0;
    background-size: 108%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_arrow_lt.svg);
    background-color: transparent;
    font-size: 16px;
    display: inline-block;
    border: none;
    vertical-align: middle;
}
.date_rightArrow{
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_arrow_rt.svg);
    background-size: 100%;
}
.date_show{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 0 1em;
    max-width: 22em;
    border: none;
    background-color: transparent;
    vertical-align: middle;
}
.calender_symbol{
    background-image: url(https://www.sparkpeople.com/assets/diet5/dte2_cal_icon.svg);
    width: 32px;
    background-size: 100%;
    margin-right: 0.8em;
}
.require_login {
    text-align: center;
    margin-top: 20px;
}
.login_container {
    height: 500px;
    width: 450px;
    background-color: white;
    border: 1px solid rgb(121, 115, 115);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 33%;
    margin-top: 20px;
}
.upper_half {
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}
.upper-half > h3 {
    margin-top: 0px;
}
.username {
    display: flex;
    flex-direction: row;
}
.username > p {
    margin-left: 20px;
    font-weight: bold;
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
}
.username_input {
    margin-left: 30px;
    margin-top: 13px;
    width: 250px;
    height: 20px;
    border: 1px solid rgb(59, 59, 250);
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px rgba(124, 123, 123, 0.5);
}
.lower_half {
    height: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(212, 209, 209);
}
.password_input {
    margin-left: 30px;
    margin-top: 13px;
    width: 250px;
    height: 20px;
    border: 1px solid rgb(59, 59, 250);
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px rgba(124, 123, 123, 0.5);
}
.checkbox_flex {
    display: flex;
    flex-direction: row;
}
.checkbox {
    margin-left: 120px;
    margin-top: 20px;
}
.remember_text {
    color: blue;
    text-decoration: underline;
}
.remember_text:hover {
    color:rgb(81, 81, 247);
}
.forgot_password {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
    margin-left: 0px;
}
.forgot_password:hover {
    color:rgb(81, 81, 247);
}
.login_button {
    height: 40px;
    width: 120px;
    background-color: rgb(238, 124, 18);
    color: white;
    border: 1px solid rgb(238, 124, 18);
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}
.login_button:hover {
    background-color: rgb(243, 135, 33);
    box-shadow: 5px 5px 8px #888888;
}
.facebook_login {
    height: 45px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    background-color: blue;
    color: rgb(211, 209, 209);
    border: 1px solid blue;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30%;
}
.facebook_login:hover {
    background-color: rgb(47, 47, 252);
}
.hor_line {
    height: 1px;
    width: 90%;
    background-color: rgb(230, 228, 228);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}
h3 {
    text-align: center;
}
.magic_text {
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.magic_button {
    height: 40px;
    width: 200px;
    background-color: rgb(238, 124, 18);
    color: white;
    border: 1px solid rgb(238, 124, 18);
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 30%;
}
.magic_button:hover {
    background-color: rgb(243, 135, 33);
    box-shadow: 5px 5px 8px #888888;
}
.login_bottom {
    height: 350px;
    width: 600px;
    /* background-color: peachpuff; */
    /* border: 1px solid black; */
    margin-top: 50px;
    margin-left: 33%;
}
.member_info {
    font-size: 13px;
    color:rgb(141, 140, 140);
    margin-left: 10px;
    margin-top: 0px;
}
.login_member {
    font-size: 20px;
    font-weight: bold;
}
.extra_benefits {
    height: 130px;
    width: 310px;
    background-color: white;
}
.extra_list {
    line-height: 0.6cm;
    list-style: square;
    font-size: 12px;
    font-weight: bold;

}
ul li::before {
    color:rgb(101, 101, 248)
}
.login_signup {
    height: 40px;
    width: 200px;
    background-color: rgb(238, 124, 18);
    color: white;
    border: 1px solid rgb(238, 124, 18);
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 0px;
}
.login_signup:hover {
    background-color: rgb(243, 135, 33);
    box-shadow: 5px 5px 8px #888888;
}
.disclaimer {
    font-size: 11px;
    color: rgb(141, 140, 140);
}
.disclaimer_tc {
    color: rgb(56, 56, 248);
    text-decoration: underline;
}
.disclaimer_tc:hover {
    color:rgb(101, 101, 248);
}