body
{
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
}
/* ------------start upper part------------------- */
.start__heading
{
    font-size: 32px;
    font-weight: 600;
    margin-left: 250px;
    float: left;
}
.start__headbox
{
    height: 100px;
    width: 100%;
}
.start__day
{
    font-size: 19px;
    font-weight: 400;
   float: right;
   margin-top: 38px;
   margin-right: 250px;
}
.start__mytask
{
    width: 120px;
    height: 50px;
    background-color: #f5f5f5;
    margin-left: 250px;
   margin-top: 10px;
   border-radius: 15px 15px 0 0 ;
}
.start__mytask > p{
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    padding-top: 13px;
   
}
.start__mytaskbox
{
    height: 500px;
    width: 760px;
    background-color: #f5f5f5;
    margin-left: 235px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.mytaskbox__div
{
    height: 80px;
    width: 720px;
    margin-left: 15px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.checkbox
{
    height: 40px;
    width: 40px;
    border: 1px solid #cccccc;
    margin-top: 15px;
    float: left;
}
.taskbox__p
{
    float: left;
    margin-left: 5px;
    font-size: 18px;
}
#taskbox__h
{
    font-size: 16px;
    color: #cccccc;
}
.calories
{
    font-size: 22px;
    margin: 13px;
    margin-left: 420px;
}
#calories__h
{
    font-size: 16px;
    color: #cccccc;
    margin: 20px;
}
.tasks
{
    float: right;
    margin: 0;
    font-size: 18px;
    color: #2B71BD;
}
.tasks2
{
    float: right;
    margin: 0;
    margin-top: 22px;
    font-size: 18px;
    color: #2B71BD;
}
.fa-angle-right
{
    font-size: 50px;
    position: absolute;
    left: 710px;
    top: 20px;
    color: #cccccc;
}
.addition
{
    margin-left: 500px;
    width: 300px;
    height: 50px;
    position: relative;
}
.count
{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 35px;
    top:  10px;
}
.count>p{
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 500;
}
.minus
{
    position: absolute;
    left: 80px;
    top: 15px;
}
.plus
{
    position: absolute;
    left: 200px;
    top: 15px;
}
.add_new
{
    height: 50px;
    width: 300px;
    float: left;
}
#add{
    font-weight: 700;
    font-size: 18px;
    padding-left: 48px;
    
}
.edit_new
{
    height: 50px;
    width: 300px;
    float: right;
}
#edit{
    font-weight: 700;
    font-size: 18px;
    padding-left: 48px;
}
.add_img
{
    position: absolute;
    top: 10px;
    left: 9px;
}
.edit_img
{
    position: absolute;
    top: 10px;
    right: 258px;
}
.box1
{
    width: 100%;
    height: 600px;
    position: relative;
}
.todayspoint_box
{
    width: 400px;
    height: 500px;
   position: absolute;
   top: 50px;
   right: 110px;
}
.todayspoint_box>:nth-child(1){
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.question
{
    height: 20px;
    margin-left: 3px;
}
.round_outer
{
    height: 180px;
  width: 180px;
  background-color: #cccccc;
  border-radius: 50%;
  margin: auto;
  position: relative;
}
.round_inner
{
    position: absolute;
    height: 150px;
  width: 150px;
  background-color: #f5f5f5;
  border-radius: 50%;
 top: 15px;
 left: 15px;
 transition: 1s;
}
.round_inner:hover{
    transform: scale(1.1);
}
.round_inner>p{
    text-align: center;
    font-size: 50px;
}
.goal
{
    color: #cccccc;
    padding-left: 250px;
    margin: 0;
}
.earned
{
    color: #2B71BD;
    text-align: center;
    margin: 0;
}
.spark{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.round_box
{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
   margin-left: 50px;
}
.round_outer2
{
    height: 51px;
  width: 51px;
  background-color: #cccccc;
  border-radius: 50%;
  position: relative;
  margin: 5px;
}
.round_inner2
{
    position: absolute;
    height: 40px;
  width: 40px;
  background-color: #f5f5f5;
  border-radius: 50%;
 top: 5.5px;
 left: 5.5px;
 transition: 1s;
}
.round_inner2:hover{
    transform: scale(1.2);
}

.round_inner2>p{
    text-align: center;
    font-size: 15px;
}
/* 
----------------------------css of task is ending ---------------------------------------- */
/* 
-----------------------------section2 css starting------------------------------------------- */
.section2_box
{
    height: 400px;
    width: 100%;
    background-color: #f5f5f5;
}

.section2_box1
{
    height: 350px;
    width: 350px;
    float: left;
    margin-left: 240px;
   margin-top: 30px;
}
.section2_box2
{
    height: 350px;
    width: 360px;
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
.sec2_imgbox
{
    height: 60%;
    width: 100%;
    background-image: url("https://sparkpeo.hs.llnwd.net/e1/resize/400w/news/genericpictures/bigpictures/getting_started_collage.png");
    background-size: cover;
}
.sec2_box1_text
{
    padding-top: 230px;
    font-size: 18px;
    font-weight: 600;
}
.sec2_box2_1
{
    height: 45%;
    width: 100%;
    margin-top: 10px;
}
.sec2_box2_img1
{
    height: 65%;
    width: 45%;
    margin-top: 25px;
    float: left;
}
.sec2_box2_1>p{
    font-size: 17px;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 170px;
}

.sec2_box2_img2
{
    height: 85%;
    width: 45%;
    margin-top: 25px;
    float: left;
}

/* 
-----------------------------section 2 css ending------------------------------------------- */



/* 
-----------------------------section 3 css starts------------------------------------------- */

.section3_box
{
    height: 400px;
    width: 100%;
    background-color: aquamarine;
}
.sec3_innerbox
{
    height: 400px;
    width: 80%;
    background-color: rgb(9, 209, 142);
    margin: auto;
}
.sec3_innerbox>h1
{
    padding-top: 40px;
}