.footer_center {
    margin-top: 30px;
    /* height: 300px; */
    width: 1300;
    /* background-color: rgb(233, 233, 233); */
}
.footer {
    display: flex;
    flex-direction: row;
}
.footer_line1 {
    margin-left: 20%;
    margin-bottom: 0px;
}
.footer_line2 {
    margin-left: 17%;
    margin-top: 0px;
}
.footer > p {
    font-size: 12px;
    line-height: 0cm;
    color:rgb(71, 71, 71);
}
.footer > p:hover {
    color: rgb(93, 130, 241);
    text-decoration: underline;
}
.vertical_line {
    height: 15px;
    width: 1px;
    background-color: rgb(90, 89, 89);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.footer_line3 {
    margin-left: 30%;
    margin-top: 10px;
}
.footer_line4,
.footer_last_line {
    font-size: 13px;
    color:rgb(71, 71, 71);
    text-align: center;
}