body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
    background-color: #f5f5f5; 
}
.header{
    background-color: white;
    height: 120px;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, Sans-serif;
    border-bottom: 5px solid #22a7ee;
}

.header__nav{
    max-width: 1040px;
    margin: auto;
    position: relative;
}
.header_nav_a{
    position: relative;
}
.header__nav__logo a img{
    width: 300px;
    margin: 8px 0px 3px 20px;
}
.header__nav__logo_tagline{
    position: absolute;
    bottom: -2px;
    right: 0px;
    color: #999;
    font-size: 12px;
    width: 120px;
}
.header_nav_dropdown_head{
    list-style: none;
    display: flex;
    margin-right: 10px;
}
.header_nav_dropdown_head li a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    padding: 0.75em 0.9em;
    display: block;
}
.header_nav_dropdown_head li a:hover{
    color: #666;
    background-color: #f8f8f8;
    position: relative;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.dropdown_subelements{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    left: auto;
    padding: 0;
}
.dropdown_subelements li{
    text-align: left;
    list-style: none;
    width: 250px;
    color: #333;
    font-weight: 400;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
}
.dropdown_subelements li:hover{
    border-left: 3px solid #22a7ee;
    background-color: #f8f8f8;
}
.header_nav_dropdown_head li:hover .dropdown_subelements{
    display: block;
    background-color: #fff;
    z-index: 100;
}

.header_nav_dropdown_head li a:hover{
    border-top: 3px solid #22a7ee;
}
#no_effect a:hover{
    color: #666;
    background-color: #f8f8f8;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* .header__social__facebook{
    background-image: url(https://sparkpeo.hs.llnwd.net/e1/assets/resource/facebook_color.svg);
    width: 32px;
} */
.header__social{
    position: absolute;
    right: 0;
    /* top: -2px; */
    top: 85px;
    display: flex;
    overflow: hidden;
}
.header__social img{
    display: block;
    padding: 0px 8px;
}

.header__social__search{
    display: block;
    position: relative;
    /* z-index: 1; */
}
.header__social__search_input {
    /* background-color: #22a7ee; */
    border: 0;
    font-size: 18px;
    /* padding: 15px; */
    height: 22px;
    width: 18px;
    transition: width 0.3s ease;
    /* position: relative; */
    /* z-index: 900; */
}
.header__social__search_btn {
    /* background-color: #22a7ee; */
    color: #22a7ee;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    height: 22px;
    width: 40px;
    transition: transform 0.3s ease;
}
.header__social__search_btn:hover{
    background-color: #22a7ee;
    color: #fff;
}
.header__social__search_btn:focus,
.header__social__search_input:focus {
  outline: none;
}
.header__social__search.active .header__social__search_input {
    /* position: relative; */
    width: 80px;
    /* z-index: 900; */
}

.header__social__search.active .header__social__search_btn {
    transform: translateX(0px);
}

.header__social__search.active #social_active{
    display: none !important;
    /* z-index: -2; */
}

.nav_btns{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #6384BD;
}
.nav_btns_help{
    list-style: none;
    display: flex;
}
.nav_btns_help li{
    padding: 2px 6px 2px 6px;
    color: #6384BD;
    font-size: 13px;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}
.nav_btns_submenu {
    display: none;
    list-style: none;
}
.nav_btns_hover{
    position: relative;
}
.nav_btns_hover:hover .nav_btns_submenu{
    color: #3B5EE5;
    padding: 10px;
    background-color: #f5f5fe;
    font-size: 13px;
    display: block;
    position: absolute;
    width: 150px;
    box-shadow: 2px 1px 6px #444;
}
.nav_btns_submenu li{
    border-right: none;
}
.shop_kitchen {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(235, 235, 235);
    /* border: 1px solid rgb(197, 196, 196); */
}
.shop_kitchen_heading {
    text-align: center;
}
.shop_kitchen_heading > h1 {
    color: rgb(46, 45, 45);
    margin-bottom: 0px;
} 
.shop_kitchen_heading > p {
    color:rgb(124, 124, 124);
    margin-top: 5px;
    font-weight: bold;
}
.kitchen_skinny_img_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.kitchen_skinny_img {
    height: 350px;
    width: 300px;
    background-color: rgb(255, 253, 253);
    /* border: 1px solid green; */
    text-align: center;
}
.kitchen_skinny_img > img {
    height: 230px;
    width: 300px;
}
.kitchen_skinny_img > p {
    margin-top: 20px;
    font-weight:  bold;
}
.kitchen_skinny_img:hover {
    color: rgb(67, 67, 255);
} 
.kitchen_mixer {
    height: 400px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
}
.kitchen_mixer > img {
    height: 400px;
    width: 60%;
}
.kitchen_mixer_text {
    height: 400px;
    width: 40%;
    margin-left: 20px;
}
.kitchen_mixer_text_featured {
    color: green;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.kitchen_mixer_text > h2 {
    margin-top: 40px;
}
.kitchen_mixer_text_2 {
    margin-top: 40px;
    line-height: 0.7cm;
}
h2 {
    text-align: center;
    color:rgb(37, 37, 37)
}
.kitchen_finds {
    display: flex;
    flex-direction: row;
}
.kitchen_finds_1 {
    height: 250px;
    width: 200px;
    background-color: white;
    /* border: 1px solid black; */
    margin-left: 30px;
}
.kitchen_finds_1 > img {
    width: 200px;
}
.kitchen_finds_1 > p {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.kitchen_items6 {
    display: flex;
    flex-direction: row;
}
.kitchen_clean {
    height: 300px;
    width: 250px;
    background-color: white;
    /* border: 1px solid black; */
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}
.kitchen_clean > img {
    width: 250px;
}
.kitchen_clean > p {
    font-weight: bold;
    margin-top: 20px;
}
.kitchen_clean > p:hover {
    color:rgb(28, 28, 250)
}
.more_kitchen_products {
    margin-left: 15px;
    font-weight: bold;
}
.kitchen_products_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.kitchen_products {
    height: 250px;
    width: 220px;
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
}
.kitchen_products > p {
    font-size: 13px;
    text-align: center;
    color: rgb(28, 28, 250);
}
.kitchen_products >p:hover {
    color: rgb(223, 145, 1);
}
.kitchen_products_flex2 {
    margin-top: 10px;
}